<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= user.username %></title>
</head>
<body>
  <h1><%= user.username %></h1>
  <h2><%= user.first_name + ' ' + user.last_name %></h2>
  <h2><%= user.membership_status %></h2>

  <% if (posts.length === 0) { %>
    <p>No posts yet</p>
  <% } else { %>
    <% posts.forEach(post => { %>
      <%- include('../partials/postDetails.ejs', {post: post}) %>
    <% }); %>
  <% } %>

  <%- include('../partials/nav.ejs'); %>
</body>
</html>